 @import url(https://fonts.google.com/specimen/Inter);

body
{
  font-family: Inter, sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 12%) ;
  width: 90% ;
  max-width: 400px;
  border-radius: 8px;
  padding: 2px;
 margin: 0 auto;

}

.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img
{
  border-radius: 50%;
}

span
{
  color:  hsl(75, 94%, 57%)
}

.function
{
  margin-top: 5px;
}