 @import url(https://fonts.google.com/specimen/Inter);

body
{
  font-family: Inter, sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.App
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 12%) ;
  width: ;
}

