 @import url(https://fonts.google.com/specimen/Inter);

body
{
  font-family: Inter, sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 12%) ;
  width: 90% ;
  max-width: 400px;
  border-radius: 8px;
  padding: 30px;
 margin: 0 auto;


}

.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img
{
  border-radius: 50%;
}

span
{
  color:  hsl(75, 94%, 57%)
}

.function
{
  margin-top: 5px;
}

.socialList
{
  width: 100%;
  

}
.socialLink
{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 20%);

  display: flex;
  flex-direction: row;
  border-radius: 8%;
  margin: 8px 0;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: white;
}



.socialLink:hover
{
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%) ;

}

.icon
{
  margin-right: 10px;
} 